---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


/* path to glyphicons */
$icon-font-path: "../assets/bootstrap/fonts/bootstrap/";


// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #F9529B;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/*
 *
 * Flex Divs
 */

.flex-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-flow: row wrap;
}

.flex-box-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.flex-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-grow: 0;
  flex-basis: 250px;
  margin: 7px;
}


/*
 *
 * Custom buttons
 * Please call this buttons like this: class="btn-lg green" or class="btn green"
 */

.btn {
  color: #fff;
  text-decoration: none;
  font-family: 'Montserrat','Lato', Helvetica, Arial, sans-serif;
}

button .btn {
  border: 0px;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 0px 0px 0px;
}

.btn-lg {
  border-radius: 2px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat','Lato', Helvetica, Arial, sans-serif;
  position: relative;
  display: inline-block;
  border: 0px;
}

.btn-lg:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 0px 0px 0px;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
  text-decoration: none;
  color: #fff;
}

.blue:hover, .blue:focus {
  background-color: #6FC6FF;
  text-decoration: none;
  color: #fff;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
  text-decoration: none;
  color: #fff;
}

.green:hover, .green:focus {
  background-color: #48E68B;
  text-decoration: none;
  color: #fff;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
  text-decoration: none;
  color: #fff;
}

.red:hover, .red:focus {
  background-color: #FF6656;
  text-decoration: none;
  color: #fff;
}

.purple {
  background-color: #9b59b6;
  box-shadow: 0px 5px 0px 0px #82409D;
  text-decoration: none;
  color: #fff;
}

.purple:hover, .purple:focus {
  background-color: #B573D0;
  text-decoration: none;
  color: #fff !important;
}

.pink {
  background-color: #F9529B;
  box-shadow: 0px 5px 0px 0px #C9427C;
  text-decoration: none;
  color: #fff !important;
}

.pink:hover, .pink:focus {
  background-color: lighten(#C9427C, 5%);
  text-decoration: none;
  color: #fff !important;
}

.yellow {
  background-color: #f1c40f;
  box-shadow: 0px 5px 0px 0px #D8AB00;
  text-decoration: none;
  color: #fff;
}

.yellow:hover, .yellow:focus {
  background-color: #FFDE29;
  text-decoration: none;
  color: #fff;
}


/* Social icons */

.social {
  margin: 0;
  padding: 0;
}

.social ul {
  margin: 0;
  padding: 5px;
}

.social ul li {
  margin: 5px;
  list-style: none outside none;
  display: inline-block;
}

.social i {
  width: 40px;
  height: 40px;
  color: #FFF;
  background-color: #F9529B;
  font-size: 22px;
  text-align:center;
  padding-top: 12px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}

.social i:hover {
  color: #FFF;
  text-decoration: none;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover {
  background: #4060A5;
}

.social .fa-twitter:hover {
  background: #00ABE3;
}

.social .fa-google-plus:hover {
  background: #e64522;
}

.social .fa-github:hover {
  background: #343434;
}

.social .fa-pinterest:hover {
  background: #cb2027;
}

.social .fa-linkedin:hover {
  background: #0094BC;
}

.social .fa-flickr:hover {
  background: #FF57AE;
}

.social .fa-instagram:hover {
  background: #375989;
}

.social .fa-vimeo-square:hover {
  background: #83DAEB;
}

.social .fa-stack-overflow:hover {
  background: #FEA501;
}

.social .fa-dropbox:hover {
  background: #017FE5;
}

.social .fa-tumblr:hover {
  background: #3a5876;
}

.social .fa-dribbble:hover {
  background: #F46899;
}

.social .fa-skype:hover {
  background: #00C6FF;
}

.social .fa-stack-exchange:hover {
  background: #4D86C9;
}

.social .fa-youtube:hover {
  background: #FF1F25;
}

.social .fa-xing:hover {
  background: #005C5E;
}

.social .fa-rss:hover {
  background: #e88845;
}

.social .fa-foursquare:hover {
  background: #09B9E0;
}

.social .fa-youtube-play:hover {
  background: #DF192A;
}


/* any style customization must be before the bootstrap import */

.price {
  margin: 5px 0px 25px 0px;
  font-weight: bold;
  font-size: 150%;
}

.img-hover:hover {
  opacity: 0.7;
}

.link {
  color: #F9529B;
  font-weight: bold;


.link:hover {
    text-decoration: none !important;
    color: darken(#F9529B, 20%) !important;

  }
}
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "custom-bootstrap"
;

