---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


/* path to glyphicons */
$icon-font-path: "../assets/bootstrap/fonts/bootstrap/";


// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #F9529B;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/*
 *
 * Flex Divs
 */

.flex-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-flow: row wrap;
}

.flex-box-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.flex-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-grow: 0;
  flex-basis: 250px;
  margin: 7px;
}


/*
 *
 * Custom buttons
 * Please call this buttons like this: class="btn-lg green" or class="btn green"
 */

.btn {
  color: #fff;
  text-decoration: none;
  font-family: 'Montserrat','Lato', Helvetica, Arial, sans-serif;
}

button .btn {
  border: 0px;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 0px 0px 0px;
}

.btn-lg {
  border-radius: 2px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat','Lato', Helvetica, Arial, sans-serif;
  position: relative;
  display: inline-block;
  border: 0px;
}

.btn-lg:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 0px 0px 0px;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
  text-decoration: none;
  color: #fff;
}

.blue:hover, .blue:focus {
  background-color: #6FC6FF;
  text-decoration: none;
  color: #fff;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
  text-decoration: none;
  color: #fff;
}

.green:hover, .green:focus {
  background-color: #48E68B;
  text-decoration: none;
  color: #fff;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
  text-decoration: none;
  color: #fff;
}

.red:hover, .red:focus {
  background-color: #FF6656;
  text-decoration: none;
  color: #fff;
}

.purple {
  background-color: #9b59b6;
  box-shadow: 0px 5px 0px 0px #82409D;
  text-decoration: none;
  color: #fff;
}

.purple:hover, .purple:focus {
  background-color: #B573D0;
  text-decoration: none;
  color: #fff !important;
}

.pink {
  background-color: #F9529B;
  box-shadow: 0px 5px 0px 0px #C9427C;
  text-decoration: none;
  color: #fff !important;
}

.pink:hover, .pink:focus {
  background-color: #FF983C;
  text-decoration: none;
  color: #fff !important;
}

.yellow {
  background-color: #f1c40f;
  box-shadow: 0px 5px 0px 0px #D8AB00;
  text-decoration: none;
  color: #fff;
}

.yellow:hover, .yellow:focus {
  background-color: #FFDE29;
  text-decoration: none;
  color: #fff;
}




/* any style customization must be before the bootstrap import */

.price {
  margin: 5px 0px 25px 0px;
  font-weight: bold;
  font-size: 150%;
}

.img-hover:hover {
  opacity: 0.7;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "custom-bootstrap"
;

