---
layout: default
---

<div class="home">
  <h1 class="page-heading"></h1>
  <div class="flex-box">
      <ul class="post-list flex-box">
        {% for post in site.posts %}
          <li class="flex-item">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              {% assign image = post.images[0] %}
              <div class="img-hover">
                {% include image.html image=image %}
              </div>
              <h4>{{ post.title }}
                <span class="text-muted">
                  {% if post.price %}${{ post.price }}{% endif %}
                </span>
              </h4>
            </a>
          </li>
        {% endfor %}
      </ul>
  </div>
</div>
