---
layout: default
---

<div class="home">
  <h1 class="page-heading"></h1>
  <div class="flex-box">
      <ul class="post-list flex-box">
        {% for post in paginator.posts %}
          <li class="flex-item">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              {% assign image = post.images[0] %}
              <div class="img-hover">
                {% include image.html image=image %}
              </div>
              <h4>{{ post.title }}
                <span class="text-muted">
                  {% if post.price %}${{ post.price }}{% endif %}
                </span>
              </h4>
            </a>
          </li>
        {% endfor %}
      </ul>
  </div>
  <!-- Pagination links -->
  <div class="col-xs-6 col-xs-offset-3 text-center">
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"><< Previous</a>
    {% else %}
    <span class="previous" style="margin-right: 10px;">Previous</span>
    {% endif %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next >></a>
    {% else %}
    <span class="next" style="margin-left: 10px;">Next </span>
    {% endif %}
  </div>
  </div>
  <div class="col-xs-3 text-right" style="margin-top: 25px; ">
    <span class="page_number " style="color: gray;">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  </div>
</div>
