<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="list-inline">
          <li><a href="https://www.instagram.com/natsukyfashion" target="_blank"><i class="fa fa-lg fa-instagram"></i></a></li>
          <li><a href="https://www.pinterest.com/natsukyfashion/" target="_blank"><i class="fa fa-lg fa-pinterest"></i></a></li>
          <li><a href="https://www.facebook.com/natsukyfashion" target="_blank"><i class="fa fa-lg fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/NatsukyFashion" target="_blank"><i class="fa fa-lg fa-twitter"></i></a></li>

        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
        <p class="text-muted">We may collect some advertising fees by linking to retailers selling these products.</p>
      </div>
    </div>

  </div>

</footer>
<script src="{{ site.baseurl }}/assets/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/bootstrap/javascripts/bootstrap.min.js"></script>

