<header>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#natsuky-navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="padding-top: 5px; padding-right: 5px;">
          <img src="/assets/img/logo.png" alt="Natsuky Pet" height="85">
        </a>
        <a class="navbar-brand" href="/" style="font-family: 'Pacifico'; font-size: 3em;">
          Natsuky
        </a>
      </div>
      <div class="collapse navbar-collapse" id="natsuky-navbar">
        {% comment %}
          <ul class="nav navbar-nav navbar-right">
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endfor %}
            <li><a href="#">Link</a></li>
          </ul>
        {% endcomment %}
      </div>
    </div>
  </nav>
</header>
