<header>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#natsuky-navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="padding-top: 5px; padding-right: 5px;">
          <img src="/assets/img/logo.png" alt="Natsuky Pet" height="85">

        </a>
        <a class="navbar-brand" href="/">
          <img src="/assets/img/title.png" alt="Natsuky" height="50">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="natsuky-navbar">
          <ul class="nav navbar-nav navbar-right">
            {% for category in site.categories %}
            <li>
              <a href="/category/{{ category[0] }}.html">{{ category[0] | capitalize }}</a></li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </nav>
</header>
