---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="row">
      <div class="col-xs-6">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
      </div>
      <div class="col-xs-6">
        {% if page.link %}
          <a href="{{ page.link }}" target="_blank" class="btn btn-lg pink pull-right" style="margin-top: 20px;">Check it out</a>
        {% endif %}
      </div>
    </div>
  </header>
  <div class="post-content" itemprop="articleBody">
    <div class="row">
      <div class="col-sm-5 col-xs-12 flex-box-center">
        {% if page.images %}
        {% for image in page.images %}
        {% if page.link %}
        <a href="{{ page.link }}" target="_blank" class="img-hover" style="margin-top: 20px;">
          {% include image.html image=image %}
        </a>
        {% else %}
        {% include image.html image=image %}
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="row">
          {% if page.link %}
          <a href="{{ page.link }}" target="_blank" class="btn btn-lg pink" style="margin-top: 20px;">Check it out</a>
          {% endif %}
        </div>
      </div>
      <div class="col-sm-7 col-xs-12">
        {% if page.price %}
        <p class="price">Price (aprox): ${{ page.price }}</p>
        {% endif %}
        {{ content }}
      </div>
    </div>

  </div>
  <div class="row text-center">
    <hr>
    <button class="show-comments btn blue"><i class="fa fa-comment"></i> See Comments</button>
  </div>

  <div id="disqus_thread" style="margin-bottom: 20px;"></div>

  <script src="/assets/jquery/dist/jquery.min.js"></script>
  <script>
    // Load Disqus comments only on demand
    $(document).ready(function() {
      $('.show-comments').on('click', function(){
        var disqus_shortname = 'natsuky'; // Replace this value with *your* username.

// ajax request to load the disqus javascript
        $.ajax({
          type: "GET",
          url: "https://" + disqus_shortname + ".disqus.com/embed.js",
          dataType: "script",
          cache: true
        });
// hide the button once comments load
        $(this).fadeOut();
      });
    });
  </script>
</article>
